.parent {
    opacity: 0;
}
.star:hover +.parent {
    opacity: 1;
    display: block;
    width: 26px;
    transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
}
.star:hover .parent { 
    opacity: 1;
    display: block;
    width: 26px;
    transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
}
.parent:hover { 
    opacity: 1;
    display: block;
    width: 26px;
    transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
}
